<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monkey.account.bsm.biz.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.monkey.account.bsm.biz.entity.Account">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
        <result column="mobile" property="mobile" />
        <result column="balance" property="balance" />
        <result column="frozen_amount" property="frozenAmount" />
        <result column="available_amount" property="availableAmount" />
        <result column="status" property="status" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_name" property="createName" />
        <result column="update_time" property="updateTime" />
        <result column="update_name" property="updateName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, real_name, mobile, balance, frozen_amount, available_amount, status, delete_flag, create_time, create_name, update_time, update_name
    </sql>

    <select id="selectAccount" resultType="com.monkey.account.bsm.biz.dto.AccountDto">
        select <include refid="Base_Column_List"/> from tf_b_account where user_id = #{userId}
    </select>

</mapper>
